{% extends 'base.html.twig' %}

{% block body %}
    <h1>Document "{{ document.name }}"</h1>
    <br>
    <div class="row">
        <div class="col-xs-8">
            <pre>{{ document.content }}</pre>
        </div>
        <div class="col-xs-4">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Created</th>
                    <td class="text-right">{{ document.dateCreated|date('d.m.Y H:i') }}</td>
                </tr>
                <tr>
                    <th>Mime Type</th>
                    <td class="text-right">{{ document.mimeType }}</td>
                </tr>
                <tr>
                    <th>Path</th>
                    <td class="text-right">
                        <a href="{{ document.path }}">View</a>
                    </td>
                </tr>
                <tr>
                    <th>Tags</th>
                    <td class="text-right">
                        {% for tag in document.tags %}
                            {{ tags.show(tag) }}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Actions</th>
                    <td class="text-right">
                        {{ state.show(document) }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock body %}